<div class="float-ban-left">
  <h2>GLOBAL ASSESSMENT</h2>
  <p>A measure of ocean health across countries and high seas regions.</p>
  <button type="button" name="button">GLOBAL SCORES</button>
  <button type="button" name="button">METHODOLOGY</button>
</div>
<div class="float-ban-right">
  <h2>INDEPENDENT ASSESSMENTS</h2>
  <p>OHI+ is an assessment tool customized by stakeholders to meet local management needs.</p>
  <button type="button" name="button">OHI+ ASSESSMENTS</button>
  <button type="button" name="button">CONDUCT AN ASSESSMENT</button>
</div>
