<div class="image">

<div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
      <header>
        <h3>LOGO</h3>
        <ul>
          <li>GLOBAL SCORES</li>
          <li>OHI+</li>
          <li>METHODOLOGY</li>
          <li>NEWS</li>
          <li>ABOUT</li>
          <li>SEARCH</li>
        </ul>
      </header>
      <h2>OCEAN HEALTH INDEX</h2>
      <h4>A healthy ocean sustainably delivers a range of benefits to people now and in the future. The Ocean Health Index is the comprehensive framework used to measure ocean health from global to local scales.</h4>
    </div>
  </div>
</div>

</div>
<!-- our parallax stuff -->
<!-- <div appParallax [ratio]="-0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="0.9" id="rectangle"></div> -->
